<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="MagazinEntities" connectionString="metadata=res://*/MagazinData.csdl|res://*/MagazinData.ssdl|res://*/MagazinData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Magazin.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MagazinEntityModel" connectionString="metadata=res://*/MagazinModel.csdl|res://*/MagazinModel.ssdl|res://*/MagazinModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Magazin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>